body {
    font-family: Geneva, sans-serif;
}

/* Header */
.header {
    margin: 2% 0 5% 5%;
    display: inline-table;
    width: 50%;
}

h1 {
    font-size: 2.5vw;
    letter-spacing: 7px;
    font-weight: 100;
    width: 100%;
}

.menu {
    text-align: right;
    display: inline-table;
    margin: 2% 5% 5% 0;
    width: 35%;
    vertical-align: central;
}

.portfolio, .about {
    font-size: 1.3vw;
    text-decoration: none;
    display: inline-block;
    width: 30%;
    text-align: right;
}


/* Galery of the projects */
.galery {
    font-family: Geneva, sans-serif;
    letter-spacing: 7px;
    font-size: 1vw;
    margin: 0 0 5% 5%;
}

.galery img {
    display: inline-table;
    width: 30%;
}

h3 {
    display: inline-table;
    font-size: 0.9vw;
    font-weight: 100;
    text-align: center;
    width: 30%;
    letter-spacing: 3px;
    padding-bottom: 4%;
}


/* About Me */
.myPhoto {
    width: 38%;
    display: inline-table;
    margin: 0 2% 10% 5%;
}

.myPhoto img {
    width: 100%;
    display: inline-table;
}

.aboutMe {
    width: 45%;
    display: inline-table;
    float: right;
    margin: 0 7% 10% 2%;
}

h2 {
    font-size: 1.5vw;
    font-weight: 200;
    text-align: left;
    letter-spacing: 5px;
    display: inline-block;
    width: 100%;
}

p {
    font-size: 0.9vw;
    font-weight: 100;
    letter-spacing: 1px;
    display: block;
    width: 100%;
}

/* Footer */
.socialMedia {
    display: inline-table;
    text-align: center;
    width: 100%;
}

.socialMedia img {
    width: 2%;
    min-width: 2%;
    max-height: 25px;
    min-height: 20px;
    margin: 0.2%;
    padding: 0.1%;
    border: 0.5px solid black;
    border-radius: 5px;
}

.kopyrajt {
    text-align: center;
    font-size: 1vw;
    font-weight: 100;
    letter-spacing: 3px;
}






